.parent{
    
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(49, 49, 49);
        height: 100vh;
   
}